.border-beam {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 3;
  border-radius: inherit;
  border: var(--border-beam-width, 1px) solid transparent;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.border-beam__light {
  position: absolute;
  aspect-ratio: 1;
  background: linear-gradient(to left, var(--color-from), var(--color-to), transparent);
}
